footer {
  background-color: black;
  color: rgb(158, 150, 150);
  padding: 5px;
  height: 5vh;
  font-size: 12px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rssLogo{
  height: 25px;
  width: 60px;
  background: url("assets/rs-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

a:visited{
  color: rgb(158, 150, 150);
}

a:link {
  text-decoration: none;
}
